<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="QueueEndpoint">
          <security mode="None" />
        </binding>
        </netMsmqBinding>
      <customBinding>
        <binding name="Store.FrontEndService.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="net.msmq://localhost/private/testqueue" binding="netMsmqBinding"
        bindingConfiguration="QueueEndpoint" contract="WarehouseService.IWarehouseService"
        />
    </client>
    <services>
    <service behaviorConfiguration="StoreBehavior" name="Store.FrontEndService">
        <endpoint address="" binding="webHttpBinding" contract="Store.IFrontEndService" behaviorConfiguration="RestBehavior"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8700/Store/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="StoreBehavior">
          
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    <endpointBehaviors>
     <behavior name="RestBehavior">
      <webHttp/>
     </behavior>
     </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>